$colorBase: #fff;
$colorTitle: #292F36;
$colorBtn: #292F36;
$colorBtn2: #F4F0EC;
$colorSubtitle: #4D5053;
$colorCounter: #CDA274;
$colorBgCounter: #F4F0EC;
$colorLastPost: #E7E7E7;
$colorText: #4D5053;
$colorArticleBlock: #F4F0EC;
$colorArticleText: #CDA274;

// $widthContainer: 1200px;