.banner__blog{
    min-height: 356px;
    background: url(../images/blog_img/blog__bg.png) center center / cover no-repeat;
}

.latestpost{
    margin-top: 200px;
    &__title{
        color: $colorTitle;
        font-family: DM Serif Display;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%; 
        letter-spacing: 1px;
    }
    &__article{
        margin-top: 27px;
        padding: 22px;
        border-radius: 62px;
        border: 1px solid $colorLastPost;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        display: flex;
        gap: 65px;
    }
    &__img{
        width: 569px;
        height: 478px;
        border-radius: 50px;
    }
    &__info{
        margin-top: 52px;
        max-width: 490px;
        &_title{
            color: $colorTitle;
            font-family: DM Serif Display;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%; 
            letter-spacing: 0.5px;
        }
        &_descr{
            margin-top: 22px;
            color: $colorSubtitle;
            font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 150%; 
            letter-spacing: 0.22px;
        }
        &_bottom{
            margin-top: 41px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.blog__articles{
    margin-top: 150px;
    &_title{
        color: $colorTitle;
        font-family: DM Serif Display;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%; 
        letter-spacing: 1px;
    }
}
.pagination{
    max-width: 268px;
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 104px;
    &__ul{
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
}